# Python

*.egg-info/

__pycache__/

*.py[cod]

*.pyo

# Virtual environment

.venv/

venv/

env/

# PyCharm

.idea/

# pytest

.pytest_cache/

# Coverage

.coverage

htmlcov/

coverage.xml

# Allure
allure-results/
allure-report/

# Environment variables

.env

# macOS

.DS_Store

# Logs

*.log